# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logging
*.log
resistanceBVs_*.txt
simulation_data_*.txt

# Original .gitignore
Figures/
reading/
Stakeholder engagement/
Thumbs.db
model/__pycache__/tstF_xp500.cpython-36.pyc
model/bigdfVlldf.py
model/cage1.txt
model/cage2.txt
model/dw_se_mr.py
model/Fyne_connectivity.py
model/lice.txt
model/lice_dw.py
model/offspring.txt
model/plankt_cage1.txt
model/plankt_cage2.txt
model/prop_arriveLinnhe.txt
model/slm_es.sh
model/slm2.py
model/ws_mlicecounts.py
communication/

# Ignore IDE-specific folders
.vscode-workspace/
.idea/
venv/
