Data/
Figures/
outputs/
reading/
Stakeholder engagement/
model/cage1.txt
model/cage2.txt
model/lice.txt
model/plankt_cage2.txt
model/plankt_cage1.txt
model/offspring.txt
model/prop_arriveLinnhe.txt
model/ws_mlicecounts.py
model/slm_es.sh
Thumbs.db
